<div class="row btnRow row-cols-1 row-cols-md-2 g-4">
    <div class="col">
      <div class="card edgeimg">
        <a href="#"><img class="buttonimg" src="assets/images/addorder.png" class="card-img-top" alt="..."></a>
        <div class="card-body">
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card edgeimg">
        <a [routerLink]="['/order-component']"><img class="buttonimg" src="assets/images/vieworders.png" class="card-img-top" alt="..."></a>
        <div class="card-body">
        </div>
      </div>
    </div>
  </div>