

.card {
    width: 500px;
    box-shadow: 5px 10px 18px #888888;
}

.col {
    max-width: 800px;
}

.buttonimg {
    width: 500px;
}

/* Used for image at edge of screen */
.edgeimg {
    margin: 200px;
    margin-left: 300px;
    margin-bottom: 100px;
}

.btnRow {
    margin-right: 0;
}